:root {
    --primary-color: #083e9c; /* Define a root variable for primary color */
    --black: #000000;
    --gray : #475467;
    --white : #ffffff;
  }
  
body{
    font-family: 'PT Sans';
}
.white{
    color: var(--white);
}
.black{
    color: var(--black);
}
.primary-color { color: var(--primary-color);}
.weightseven{
    font-weight: 700;
}

.bg-primary { 
    background: linear-gradient(#0A5BCC 0%, #0A5BCC 100%, #072E80 100%);
}
.btn-primary {
    background-color: var(--primary-color);
  }
.gray{
    color: var(--gray);
}
.btn-black{
    border: 1px solid black !important; 
    color: var(--black) !important;
}

.mt-lg-10{
    margin-top: 10rem;
}
.mt-6{
    margin-top: 4rem;
}

h1{
    font-size: 72px;
    font-weight: 700;
}
h2{
    font-size: 64px;
    font-weight: 700; 
}
h3{
    font-size: 44px;
}
h4{
    font-size: 32px;
} 
h5{
    font-size: 26px;
    font-weight: 700;
}
h6{
    font-size: 24px;
} 
p{
    font-size: 22px;
    font-weight: 400;
}
.p2{
    font-size: 20px;
    font-weight: 400;
}
.p4{
    font-size: 18px;
}
.p3{
    font-size: 16px;
}
.px-lg-10{
    padding-left: 10rem;
    padding-right: 10rem;
}
.btn {
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
  }

.container .navbar-nav .nav-item .nav-link{
    color: var(--black);
    font-weight: 400;
}

.crm .row .col-md-6 .image-container{
    position: relative;
    overflow: hidden;
}

.crm .row .col-md-6 .image-container img:first-child{
    position: relative;
      z-index: 0;
}

.crm .row .col-md-6 .image-container img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.crm .row .col-md-6 .image-container img:last-child{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
}



/* yaha sa aga features ha */
.features .container .row .col-md-4 .img-container{
    position: relative;
}

.features .container .row .col-md-4 .img-container img:first-child{
    position: relative; z-index:1 
}

.features .container .row .col-md-4 .img-container img:last-child{
    position:absolute;left:35%;top: 30px;
}

.features .container .row .col-md-4 a i{
    text-decoration: underline;
}

.paragraph-height {
    height: 60px; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate text if it exceeds the height */
}

.imgsecond{
    position: relative;
    top: 18px;
}

/* yaha sa aga footer ha */
.footer .container .row .col-md-3 .mt-lg-4 a{
    text-decoration: none;
}

@media (max-width: 320px) {
  .mt-lg-10{
    margin-top: 1rem;
  }
  h1{
    font-size: 22px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 15px;
  }
  h6{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  .p1{
    font-size: 10px;
  }
  .p2{
    font-size: 10px;
  }
  .p3{
    font-size: 10px;
  }


  .btn{
    font-size: 14px;
  }
  .carousel-wrap {
    margin: 25px auto 0px auto !important;
  }
  .owl-carousel .item {
    text-align: -webkit-center !important;
}
  .px-lg-10{
    padding-left: 2rem;
    padding-right: 2rem;
  }
.paragraph-height {
    height: 15px;

}
.mt-6{
    margin-top: 4rem;
}
.freetrail{
    margin-top: 900px;
}

.mt-sm-only-5 {
    margin-top: 3rem !important;
}

}

@media (min-width: 320px) and (max-width: 375px) {
    .mt-lg-10{
        margin-top: 1rem;
      }
      h1{
        font-size: 22px;
      }
      h2{
        font-size: 20px;
      }
      h3{
        font-size: 18px;
      }
      h4{
        font-size: 16px;
      }
      h5{
        font-size: 15px;
      }
      h6{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
      .p1{
        font-size: 10px;
      }
      .p2{
        font-size: 10px;
      }
      .p3{
        font-size: 10px;
      }
    
    
      .btn{
        font-size: 14px;
      }
      .carousel-wrap {
        margin: 25px auto 0px auto !important;
      }
      .owl-carousel .item {
        text-align: -webkit-center !important;
    }
      .px-lg-10{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .paragraph-height {
        height: 15px;
    
    }
    .mt-6{
        margin-top: 4rem;
    }
    .freetrail{
        margin-top: 900px;
    }
    
    .mt-sm-only-5 {
        margin-top: 3rem !important;
    }
    
}
@media (min-width: 375px) and (max-width: 425px) {
    .mt-lg-10{
        margin-top: 1rem;
      }
      h1{
        font-size: 22px;
      }
      h2{
        font-size: 20px;
      }
      h3{
        font-size: 18px;
      }
      h4{
        font-size: 16px;
      }
      h5{
        font-size: 15px;
      }
      h6{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
      .p1{
        font-size: 10px;
      }
      .p2{
        font-size: 10px;
      }
      .p3{
        font-size: 10px;
      }
    
    
      .btn{
        font-size: 14px;
      }
      .carousel-wrap {
        margin: 25px auto 0px auto !important;
      }
      .owl-carousel .item {
        text-align: -webkit-center !important;
    }
      .px-lg-10{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .paragraph-height {
        height: 15px;
    
    }
    .mt-6{
        margin-top: 4rem;
    }
    .freetrail{
        margin-top: 840px;
    }
    
    .mt-sm-only-5 {
        margin-top: 1rem !important;
    }
    
   
}

@media (min-width: 425px) and (max-width: 768px) {
    .mt-lg-10{
        margin-top: 1rem;
      }
      h1{
        font-size: 22px;
      }
      h2{
        font-size: 20px;
      }
      h3{
        font-size: 18px;
      }
      h4{
        font-size: 16px;
      }
      h5{
        font-size: 15px;
      }
      h6{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
      .p1{
        font-size: 10px;
      }
      .p2{
        font-size: 10px;
      }
      .p3{
        font-size: 10px;
      }
    
    
      .btn{
        font-size: 14px;
      }
      .carousel-wrap {
        margin: 25px auto 0px auto !important;
      }
      .owl-carousel .item {
        text-align: -webkit-center !important;
    }
      .px-lg-10{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .paragraph-height {
        height: 15px;
    
    }
    .mt-6{
        margin-top: 4rem;
    }
    .freetrail{
        margin-top: 840px;
    }
    
    .mt-sm-only-5 {
        margin-top: 1rem !important;
    }
}
  
  /* Medium devices (laptops, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .mt-lg-10{
        margin-top: 1rem;
      }
      h1{
        font-size: 30px;
      }
      h2{
        font-size: 28px;
      }
      h3{
        font-size: 26px;
      }
      h4{
        font-size: 24px;
      }
      h5{
        font-size: 22px;
      }
      h6{
        font-size: 20px;
      }
      p{
        font-size: 18px;
      }
      .p1{
        font-size: 16px;
      }
      .p2{
        font-size: 14px;
      }
      .p3{
        font-size: 12px;
      }
      .btn{
        font-size: 14px;
      }
      .carousel-wrap {
        margin: 25px auto 0px auto !important;
      }
      .owl-carousel .item {
        text-align: -webkit-center !important;
    }
      .px-lg-10{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .paragraph-height {
        height: 40px;
    
    }
    .mt-6{
        margin-top: 4rem;
    }
    .freetrail{
        margin-top: 580px;
    }
    
    .crm .row{
        text-align: center;
    }
    .about .container-fluid {
        width: 80%;
    }

  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 991px) and (max-width: 1200px) {
    .mt-lg-10{
        margin-top: 1rem;
      }
      h1{
        font-size: 32px;
      }
      h2{
        font-size: 30px;
      }
      h3{
        font-size: 28px;
      }
      h4{
        font-size: 26px;
      }
      h5{
        font-size: 24px;
      }
      h6{
        font-size: 22px;
      }
      p{
        font-size: 20px;
      }
      .p1{
        font-size: 18px;
      }
      .p2{
        font-size: 17px;
      }
      .p3{
        font-size: 16px;
      }
      .btn{
        font-size: 16px;
      }
      .carousel-wrap {
        margin: 25px auto 0px auto !important;
      }
      .owl-carousel .item {
        text-align: -webkit-center !important;
    }
      .px-lg-10{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .paragraph-height {
        height: 50px;
    
    }
    .mt-6{
        margin-top: 4rem;
    }
    .freetrail{
        margin-top: 50px;
    }
    
    .crm .row{
        text-align: center;
    }
    .about .container-fluid {
        width: 80%;
    }
    .freetrail .container h2{
        padding-left: 8rem;
        padding-right: 8rem;

    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1400.99px){
    h1{
        font-size: 40px;
      }
      h2{
        font-size: 32px;
      }
      h3{
        font-size: 30px;
      }
      h4{
        font-size: 28px;
      }
      h5{
        font-size: 26px;
      }
      h6{
        font-size: 24px;
      }
      p{
        font-size: 22px;
      }
      .p1{
        font-size: 20px;
      }
      .p2{
        font-size: 19px;
      }
      .p3{
        font-size: 18px;
      }
      .btn{
        font-size: 20px;
      }
    .mt-lg-10{
        margin-top: 1.5rem;
    }
    .crm .row {
        text-align: center;
    }
    .crm .row h6{
        padding-left: 9rem;
        padding-right: 9rem;
    }
    .about .container-fluid{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .about .container-fluid .row .offset-xxl-1 .mt-xxl-3{
       text-align: center;
    }
  }

  @media (min-width: 1401px) and (max-width: 1440px){
    .crm .row .offset-xxl-1{
        margin-left: 1%;
    }
    .crm .row h6{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mt-lg-10{
        margin-top: 10rem;
    }
    .about .container-fluid .row .offset-xxl-1{
        margin-left: 1%;
    }
    .about .container-fluid .row .col-lg-6{
        width: 57.33%;
    }
  }